:host {

  z-index: 999;

  .nav-content {
    display: inline-flex;
    align-items: center;
  }

  * {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: var(--sidenav-width);
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

    .navbar-links {
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      scrollbar-width: none;
    }
  }

  .logo {
    text-align: center;
    transition: all 0.5s ease;
  }

  .logo img {
    margin-top: 8px;
    border-radius: 50%;
  }

  a {
    display: flex;
    align-items: center;
    color: rgb(85, 83, 83);
    font-size: 14px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ico {
    padding: 8px;
    flex-shrink: 0;
  }

  .nav-item {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a:hover {
    background: #eee;
  }

  nav:hover {
    width: 280px;
    transition: all 0.5s ease;
  }
}
