<h2>Seznam typů členů</h2>

@if (memberTypes.length > 0) {
  <table>
    <thead>
    <tr>
      <th>Název</th>
      <th>Akce</th>
    </tr>
    </thead>
    <tbody>
      @for (memberType of memberTypes; track memberType.id) {
        <tr>
          <td>
            {{memberType.name}}
          </td>
          <td>
            <span class="table-action-buttons">
              <hxt-button (click)="editMemberType(memberType, dialog)">✏️ Upravit</hxt-button>
              <hxt-button (click)="deleteMemberType(memberType.id)">🗑️ Smazat</hxt-button>
            </span>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@if (memberTypes.length === 0) {
  <p>Žádné typy členů.</p>
}

<hxt-dialog #dialog title="Upravit typ člena">
  <hxt-member-type-form [memberType]="memberType()" (submittedSuccessfully)="closeDialog(dialog)"></hxt-member-type-form>
</hxt-dialog>
