<div class="auth-container">
  <h2>Přihlásit se</h2>

  <form (ngSubmit)="onSubmit()" class="login-fields">
    <label>
      Email:
      <input type="email" [(ngModel)]="email" name="email" required />
    </label>
    <label>
      Heslo:
      <input type="password" [(ngModel)]="password" name="password" required />
    </label>

    <hxt-button [type]="'submit'">Přihlásit</hxt-button>
  </form>

  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }
</div>
