<div class="auth-container">
  <h2>{{ isLoginMode ? 'Přihlásit se' : 'Registrovat se' }}</h2>

  <form (ngSubmit)="onSubmit()">
    <label>
      Email:
      <input type="email" [(ngModel)]="email" name="email" required />
    </label>
    <label>
      Heslo:
      <input type="password" [(ngModel)]="password" name="password" required />
    </label>

    <hxt-button [type]="'submit'">{{ isLoginMode ? 'Přihlásit' : 'Registrovat' }}</hxt-button>
  </form>

  <!--      <p>-->
  <!--        <a (click)="toggleMode()">-->
  <!--          {{ isLoginMode ? 'Nemáš účet? Zaregistruj se!' : 'Už máš účet? Přihlas se!' }}-->
  <!--        </a>-->
  <!--      </p>-->

  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }
</div>
