@if (!memberType()) {
  <h2>Vytvořit nový typ člena</h2>
}

<form (ngSubmit)="submit()">
  <hxt-form-field label="Název typu:">
    <input type="text" [(ngModel)]="name" name="name" />
  </hxt-form-field>

  <h3>Atributy</h3>
  @for (attr of attributes; let i = $index; track i;) {
    <div class="attribute-record-wrapper">
      <hxt-button (click)="removeAttribute(i)" appearance="flat">❌</hxt-button>

      <div class="attribute-fields-wrapper">
        <hxt-form-field label="Název">
          <input
            type="text"
            [(ngModel)]="attr.name"
            [name]="'attr-name-' + i"
            placeholder="Název atributu"
          />
        </hxt-form-field>

        <hxt-form-field label="Typ">
          <select
            [(ngModel)]="attr.type"
            [name]="'attr-type-' + i"
          >
            <option value="text">Text</option>
            <option value="number">Číslo</option>
            <option value="date">Datum</option>
            <option value="boolean">Checkbox</option>
          </select>
        </hxt-form-field>
      </div>
    </div>
  }

  <span class="form-action-buttons-bottom">
    <hxt-button (click)="addAttribute()">➕ Přidat atribut</hxt-button>
    <hxt-button [type]="'submit'" [disabled]="!name">💾 Uložit typ člena</hxt-button>
  </span>
</form>
