<div class="table-wrapper">
  @if (selectedType && members.length > 0 && !loading()) {
    <hxt-button
      (click)="exportToPdf(selectedType)"
    >
      Exportovat do PDF
    </hxt-button>

    <table>
      <thead>
      <tr>
        @for (attr of selectedType.attributes; track $index) {
          <th>{{ attr.name }}</th>
        }
        <th>Akce</th>
      </tr>
      </thead>
      <tbody>
        @for (member of members; track $index) {
          <tr class="table-row">
            @if (editId === member.id) {
              @for (attr of selectedType.attributes; track $index) {
                <td>
                  @switch (attr.type) {
                    @case ('text') {
                      <input
                        type="text"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                    @case ('number') {
                      <input
                        type="number"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                    @case ('date') {
                      <input
                        type="date"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                    @case ('boolean') {
                      <input
                        type="checkbox"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                    @default {
                      <input
                        type="text"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                  }
                </td>
              }
              <td>
                <span class="table-action-buttons">
                  <hxt-button (click)="saveEdit(member.id)">💾 Uložit</hxt-button>
                  <hxt-button (click)="cancelEdit()">✖ Zrušit</hxt-button>
                </span>
              </td>
            } @else {
              @for (attr of selectedType.attributes; track $index) {
                <td>
                  @if (attr.type === 'boolean') {
                    <input
                      type="checkbox"
                      class="prevent-checkbox-click"
                      [checked]="member.data[attr.name]"
                    />
                  } @else {
                      {{ member.data[attr.name] }}
                  }
                </td>
              }
              <td>
                <span class="table-action-buttons">
                  <hxt-button (click)="editMember(member)">✏️ Upravit</hxt-button>
                  <hxt-button (click)="deleteMember(member.id)">🗑️ Smazat</hxt-button>
                </span>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
  @if (members.length === 0 && !loading()) {
    <img [src]="'assets/EmptyStateWText.svg'" class="emptyBackground" alt="empty">
  }
</div>
@if (loading()) {
  <hxt-loading-spinner></hxt-loading-spinner>
}
