<div class="table-wrapper">
  @let selectedTypeVar = selectedType();
  @if (selectedTypeVar) {
    <h1>{{selectedTypeVar.name}}</h1>
  }
  @if (selectedTypeVar && members().length > 0 && !loading()) {
    <hxt-button
      [disabled]="filteredMembers().length == 0"
      (click)="exportToPdf(selectedTypeVar)"
    >
      Exportovat do PDF
    </hxt-button>

    <table>
      <tr class="filter-row">
        @for (attr of selectedTypeVar.attributes; track $index) {
          <th>
            @if (attr.type === 'boolean') {
              <hxt-tristate-toggle-switch
                #booleanToggleFilter
                [label]="{onLabel: 'Ano', offLabel: 'Ne', indeterminateLabel: 'Vše'}"
                (stateChangeBoolean)="updateFilter(attr.name, $event)"
              >
              </hxt-tristate-toggle-switch>
            } @else if (attr.type === 'text') {
              <input
                type="text"
                [(ngModel)]="filters()[attr.name]"
                (ngModelChange)="updateFilter(attr.name, $event)"
              />
            } @else if (attr.type === 'number') {
              <input
                type="number"
                [(ngModel)]="filters()[attr.name]"
                (ngModelChange)="updateFilter(attr.name, $event)"
              />
            }
            @else if (attr.type === 'date') {
              <input
                type="date"
                [(ngModel)]="filters()[attr.name]"
                (ngModelChange)="updateFilter(attr.name, $event)"
              />
            }
          </th>
        }
        <th><hxt-button (click)="resetFilters()" severity="secondary">Resetovat filtry</hxt-button></th>
      </tr>
      <thead>
      <tr>
        @for (attr of selectedTypeVar.attributes; track $index) {
          <th>{{ attr.name }}</th>
        }
        <th>Akce</th>
      </tr>
      </thead>
      <tbody>
        @for (member of filteredMembers(); track $index) {
          <tr class="table-row">
            @if (editId === member.id) {
              @for (attr of selectedTypeVar.attributes; track $index) {
                <td>
                  @switch (attr.type) {
                    @case ('text') {
                      <input
                        type="text"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                    @case ('number') {
                      <input
                        type="number"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                    @case ('date') {
                      <input
                        type="date"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                    @case ('boolean') {
                      <input
                        type="checkbox"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                    @default {
                      <input
                        type="text"
                        [(ngModel)]="editableMember[attr.name]"
                      />
                    }
                  }
                </td>
              }
              <td>
                <span class="table-action-buttons">
                  <hxt-button (click)="saveEdit(member.id)">💾 Uložit</hxt-button>
                  <hxt-button (click)="cancelEdit()">✖ Zrušit</hxt-button>
                </span>
              </td>
            } @else {
              @for (attr of selectedTypeVar.attributes; track $index) {
                <td>
                  @if (attr.type === 'boolean') {
                    <input
                      type="checkbox"
                      class="prevent-checkbox-click"
                      [checked]="member.data[attr.name]"
                    />
                  } @else if (attr.type === 'date') {
                    {{ member.data[attr.name] | date: 'dd.MM.yyyy' }}
                  } @else {
                      {{ member.data[attr.name] }}
                  }
                </td>
              }
              <td>
                <span class="table-action-buttons">
                  <hxt-button (click)="editMember(member)">✏️ Upravit</hxt-button>
                  <hxt-button (click)="deleteMember(member.id)">🗑️ Smazat</hxt-button>
                </span>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
  @if (filteredMembers().length === 0 && !loading()) {
    <img [src]="'assets/EmptyStateWText.svg'" class="emptyBackground" alt="empty">
  }
</div>
@if (loading()) {
  <hxt-loading-spinner></hxt-loading-spinner>
}
